@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}

h1 {
    border: 10px;
}

#btn {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    color: grey;
    padding: 3px;
    font-family: 'Noto Sans TC', sans-serif;
}

#btn:hover {
    background-color: transparent;
    color: black;
    border: 2px solid blue;
}

form {
    padding: 10px;
    margin: 5px;
}

#field {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}