@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: beige;
}

h1 {
    border: 10px;
}

#btn {
    border-radius: 16px;
    border: 1px solid white;
    background-color: white;
    color: blue;
    padding: 5px;
    margin-bottom: 4px;
    margin-left: -65px;
    font-family: 'Noto Sans TC', sans-serif;
}

#btn:hover {
    background-color: rgba(155, 173, 233, 0.897);
    color: blue;
    border: 1px solid rgba(155, 173, 233, 0.897);
}

form {
    padding: 10px;
    margin: 5px;
}

#field {
    padding: 5px;
    border-radius: 16px;
    border: 1px solid black;
    width: 300px;
    height: 30px;
}

.phone {
    position: relative;
    margin: 4% auto;
    width: 560px;
    height: 660px;
    border: 1.5px solid #e6e6e6;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
}